{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@grudr": "./grudr",
          "@components": "./components"
        }
      }
    ]
  ]
}
